html,
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
  font-family: VT323, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

.text_container {
  //font-family: VT323, monospace;
  font-size: 5vw;
  text-align: center;

  h1 {
    display: block;
    margin-bottom: 0;
  }
  //width: 100%;'

  .danger {
    color: rgb(255, 157, 157);
  }

  .warning_message {
    font-size: 3vw;
  }

  .Typewriter__cursor {
    display: none;
  }

  > div {
    margin: 10vw;
  }
}

::-webkit-scrollbar {
  display: none;
}

main {
  height: 100%;
  width: 100%;
}
canvas {
  min-height: 100vh;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
