html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

::-webkit-scrollbar {
  display: none;
}

main {
  height: 100%;
  width: 100%;
}
canvas {
  min-height: 100vh;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 1;
}
