html,
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
  font-family: VT323, monospace;
  overflow: hidden;
  max-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

.text_container {
  //font-family: VT323, monospace;
  font-size: 5vw;
  text-align: center;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  h1 {
    display: block;
    margin-bottom: 0;
  }

  .danger {
    color: rgb(255, 157, 157);
  }

  .warning_message {
    font-size: 3vw;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .instructions {
    animation: blink 2s 3.5s step-start infinite;
  }

  .Typewriter__cursor {
    display: none;
  }

  > div {
    margin: 10vw;
  }
}

::-webkit-scrollbar {
  display: none;
}

main {
  height: 100%;
  width: 100%;
}
canvas {
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  overscroll-behavior: none;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
